.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    letter-spacing: 5px;
}
.navbar-nav {
    
        margin-left: auto;
    
}
.navbar-nav  a:hover {
    color: rgb(211, 171, 211) !important;
}



.btn{
        background-color: rgb(211, 171, 211);
        float: right;
      
}
.btn:hover{
    background-color: rgb(211, 171, 211);
}
.card{
    margin: 4rem;
}